<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for object in object_list %}
        <a href="{% url 'app:post_detail'  object.id %}"><h1>{{object.title }}</h1></a>
        <br>
        <strong>{{ object.author }}</strong>
        <br>
        {{ object.text }}
        <br>
        <h3>---------------------------------------------------</h3>
    {% endfor %}
</body>
</html>